In [ ]:
# 패키지 불러오기
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [ ]:
dan = ["손 히히히 이성범 남양그룹" , "성범이 바보 바보 바보 천재 천재 천재"] #예시
test = ["손 히히히 이성범 남양그룹" , "성범이 바보 바보 바보 천재 천재 천재", "성범이 바보 바보 바보 천재 천재 천재",
        "캬캬캬캬캬캬"]

In [ ]:
#모델 생성
vect = CountVectorizer()

In [ ]:
#모델 실행
vocab = vect.fit(dan)

In [ ]:
# 모델 결과
a = vect.get_feature_names() # 포함된 단어
b = vocab.transform(dan) # 리스트내 각각의 문장별을 포함된 단어의 개수로 빈도수를 체크
b = b.toarray() #배열로 만들어줌 , 데이터 프레임 형태로 만들기 위해

In [ ]:
# 데이터 프레임형태로 만들기
df = pd.DataFrame(b, columns=a)
df

   남양그룹  바보  성범이  이성범  천재  히히히
0     1   0    0    1   0    1
1     0   3    1    0   3    0

In [ ]:
# 테스트 모델 결과
a2 = vect.get_feature_names() # 포함된 단어
b2 = vocab.transform(test) # 리스트내 각각의 문장별을 포함된 단어의 개수로 빈도수를 체크
b2 = b2.toarray() #배열로 만들어줌 , 데이터 프레임 형태로 만들기 위해

In [ ]:
# 데이터 프레임형태로 만들기
df2 = pd.DataFrame(b2, columns=a2)
df2

   남양그룹  바보  성범이  이성범  천재  히히히
0     1   0    0    1   0    1
1     0   3    1    0   3    0
2     0   3    1    0   3    0
3     0   0    0    0   0    0